body,
html {
  min-height: 100%;
}
body {
  overflow: auto;
}
body {
  width: 100%;
  height: 100%;
  background: url('../../../images/one.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.game {
  padding-top: 50px;
}
.w {
  width: 1200px;
}
h1.w {
  text-align: center;
  color: aliceblue;
  font-size: 90px;
  line-height: 100px;
}

@media screen and (max-width: 800px) {
  body,
  input,
  textarea,
  select {
    font-size: 12pt;
    line-height: 1.5em;
  }
  body .study-herf {
    display: block;
  }
  body .w {
    width: 550px;
  }
  body h1.w {
    font-size: 30px;
    line-height: 50px;
  }

}
