<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>学习打卡</title>
  <link rel="stylesheet" href="../../../assets/css/reset.css" />
  <link rel="stylesheet" href="./me.css" />
  <script src="./me.js"></script>
</head>

<body>
  <div class="study">
    <h1 class="w">技能<br /></h1>
    <h2>熟练：vue2，h5c3，</h2>
    <h2>熟悉：webpack，ts，vue3</h2>


    <div class="w itemList"></div>
    <p></p>
  </div>
</body>
<script></script>

</html>