/* 初始化 */
a,
abbr,
acronym,
address,
applet,
area,
article,
aside,
audio,
b,
base,
basefont,
bdi,
bdo,
big,
blockquote,
body,
br,
button,
canvas,
caption,
center,
cite,
code,
col,
colgroup,
datalist,
dd,
del,
details,
dir,
div,
dfn,
dialog,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
frame,
frameset,
h1,
h2,
h3,
h4,
h5,
h6,
head,
header,
hr,
html,
i,
iframe,
img,
input,
ins,
isindex,
kbd,
keygen,
label,
legend,
li,
link,
map,
mark,
menu,
menuitem,
meta,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
script,
section,
select,
small,
source,
span,
strike,
strong,
style,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
title,
tr,
track,
tt,
u,
ul,
var,
video,
wbr,
xmp {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1 'PingFang SC', 'Microsoft YaHei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  display: block;
  border: none;
}
dl,
li,
menu,
ol,
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  outline: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
/* 浮动方式 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
  content: '';
}
/* 定位方式 */
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.center {
  margin: 0 auto;
}
/* 对齐方式 */
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
/* 居中定位 */
.c3_ct {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 弹性布局 */
.flex_ct {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------------------------------------------------------------------------------------------------------------------------- */
html {
  --theme-bg-color: #fff;
  --theme-text-color: #fff;
}

.w {
  width: 1200px;
  margin: 0 auto;
}

.auto {
  margin: 0 auto;
}

.theme-text {
  font-size: 24px;
  font-family: 'TencentSansw3';
}
.hide{
  display: none;
}

