<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>学习打卡</title>
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="./study.css" />
  <script src="./study.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <!-- 头部 -->
  <script src="/assets/js/vue.min.js"></script>
  <link rel="stylesheet" href="/src/components/header/header.css">
  <script src="/src/components/header/header.js"></script>
</head>

<body>
  <!-- 头部 -->
  <h1 class="hide">洪一锋</h1>
  <div id="header">
    <div class="header_bg">
      <header class="w">
        <div class="title"><a href="/">易风 YiFeng</a> </div>
        <ul class="nav">
          <li v-for="item in navList" :key="item.href">
            <a class="menu-text" :href="item.herf">{{item.text}}</a>
          </li>
        </ul>
        <div class="right">
          <a href="https://github.com/bigyifeng/bigyifeng.github.io" class="blog-github iconfont github">
            GitHub
          </a>
        </div>
      </header>
    </div>
  </div>
  
  <div class="main">
    <div class="study">
      <h1 class="w">万事随缘<br />但不要放弃努力</h1>
      <div class="w itemList"></div>
    </div>
  </div>

</body>
<script></script>

</html>