body,
html {
  min-height: 100%;
}

body {
  overflow: auto;
}

body {
  width: 100%;
  height: 100%;
  background: url('../../../images/two.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.study {
  padding-top: 50px;
}

.w {
  width: 1200px;
}

.itemList {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.item {
  background-color: rgb(150, 177, 134);
  border: 1px solid rgb(173, 172, 172);
  opacity: 0.8;
}

.item p {
  font-weight: 700;
  padding: 20px 20px;
  font-size: 20px;
}

.item .val {
  padding: 0px 20px 10px 20px;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 16px;
  color: rgb(43, 43, 43);
  display: flex;
}

.item .val b {
  width: 52px;
  min-width: 52px;
}

.item .val span {
  flex: 1;
}

h1.w {
  text-align: center;
  color: aliceblue;
  font-size: 90px;
  line-height: 100px;
}

/* 四月份 */
.month4 {
  background-color: rgb(218, 218, 218);
}

.val.month4_text {
  color: black;
}

.itemList .month4:nth-of-type(4) {
  margin-bottom: 50px;
}

/* 五月份 */
.month5 {
  background-color: rgb(172, 137, 255);
}

.val.month5_text {
  color: rgb(35, 0, 82);
}

.itemList .month5:nth-of-type(13) {
  margin-bottom: 50px;
}

/* 六月份 */
.month6 {
  background-color: rgb(220, 240, 40);
}

.val.month6_text {
  color: rgb(80, 102, 0);
}

.itemList .month6:nth-of-type(4) {
  /* margin-bottom: 50px; */
}

@media screen and (max-width: 800px) {

  body,
  input,
  textarea,
  select {
    font-size: 12pt;
    line-height: 1.5em;
  }

  body .study-herf {
    display: block;
  }

  body .w {
    width: 350px;
  }

  body h1.w {
    font-size: 30px;
    line-height: 50px;
  }

  body .item p {
    font-weight: 700;
    padding: 10px 20px;
    font-size: 20px;
  }
}