<h1 class="hide">洪一锋</h1>
<div id="header">
  <div class="header_bg">
    <header class="w">
      <div class="title"><a href="/">易风 YiFeng</a> </div>
      <ul class="nav">
        <li v-for="item in navList" :key="item.href">
          <a class="menu-text" :href="item.herf">{{item.text}}</a>
        </li>
      </ul>
      <div class="right">
        <a href="https://github.com/bigyifeng/bigyifeng.github.io" class="blog-github iconfont github">
          GitHub
        </a>
      </div>
    </header>
  </div>
</div>